<!DOCTYPE html>
<html>

<head>
    <title>excelenium</title>

    <link rel="stylesheet" th:href="@{/resources/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/toastr.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/jsuites.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/jexcel.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/excelenium.css}" />

    <script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/bs-custom-file-input.min.js}"></script>
    <script th:src="@{/resources/js/toastr.min.js}"></script>
    <script th:src="@{/resources/js/init.js}"></script>
    <script th:src="@{/resources/js/jsuites.js}"></script>
    <script th:src="@{/resources/js/jexcel.js}"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="card col-6">
                <div class="card-body">
                    <h5 class="card-title text-center">excelenium</h5>
                    <h6 class="card-subtitle mb-2 text-center">Web Selenium Automation using spreadsheets</h6>
                    <p class="card-text text-center">To begin load the script or create a new one</p>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <button id="btn-load" type="button" class="btn-dark mr-1">Load Suite</button>
                        <input type="file" id="file-upload" style="display:none" />
                        <button id="btn-new" type="button" class="btn-dark ml-1">Create New</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="progress">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>

    <div class="modal fade" id="file-upload-modal" tabindex="-1" role="dialog" data-keyboard="true"
        aria-labelledby="form-file-upload" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form-file-upload-title">Upload Script</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="form-file-upload" enctype="multipart/form-data" method="POST" action="/load">
                        <div class="form-group row w-75 ml-auto mr-auto">
                            <!-- <label for="exampleFormControlFile1">Choose the suite file to upload</label>
                            <input type="file" class="form-control-file" id="file-suite" name="suiteFile">
                            <div class="invalid-feedback">
                                Please upload a suite file
                            </div> -->
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-suite"
                                        aria-describedby="btn-upload-file" name="suiteFile">
                                    <label class="custom-file-label" for="file-suite">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-primary ml-1" type="button"
                                        id="btn-upload-file">Upload</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn-upload-close"
                        data-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>

</body>

</html>