<!DOCTYPE html>
<html>

<head>
    <title>excelenium</title>

    <link rel="stylesheet" th:href="@{/resources/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/toastr.min.css}" />
    <script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/toastr.min.js}"></script>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">excelenium</h5>
            <h6 class="card-subtitle mb-2 text-muted">Web Automation using spreadsheets</h6>
            <p class="card-text">To begin load the script or create a new one</p>
            <button type="button" class="btn-primary">Load Script</button>
            <button type="button" class="btn-light">Create New</button>
        </div>
    </div>

</body>

</html>